@page "/"

<PageTitle>Home</PageTitle>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova+</title>
</head>
<body>

    <header>
        <div class="logo"> Aprova+</div>
    </header>

    <section class="hero">

        <div class="hero-text">
            <h1>
                Prepare-se para o <span>ENEM</span> e Vestibulares
            </h1>

            <p>
                Metodologia comprovada, professores especializados e conteúdo completo para você conquistar a aprovação dos seus sonhos.
            </p>

            <div class="stats">
                <div class="stat">
                    <h2>98%</h2>
                    <p>Taxa de Aprovação</p>
                </div>

                <div class="stat">
                    <h2>4.8</h2>
                    <p>Avaliação Média</p>
                </div>

                <a href="telalogin" class="btn">Comece Agora</a>
            </div>
        </div>

        <div class="hero-image">
            <img src="https://img.magnific.com/fotos-premium/livros-universitarios-e-mulher-feliz-em-um-parque-para-escrever-estudo-e-licao-de-casa-pesquisa-ou-tarefa-educacao-aprendizagem-e-gen-z-estudante-menina-com-planilha-ou-notas-de-exame-no-campus-ao-ar-livre_590464-372169.jpg" alt="Estudante">
        </div>

    </section>

</body>
</html>




