@page "/senhalogin"

    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar Senha</title>

</head>
<body>

    <div class="container">

        <div class="logo">
            Aprova+
        </div>

        <div class="card">
            <h1>Recuperar Senha</h1>

            <p>Para redefinir a senha informe o e-mail.</p>

            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="Digite seu e-mail">

            <button class="btn">Enviar</button>

            <a href="/telalogin" class="voltar">Voltar para o login</a>
        </div>

    </div>

</body>
</html>