@page "/telacadastro"

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova+</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <div class="logo">
            <h1> Aprova+</h1>
        </div>

        <div class="card">
            <div class="foto"></div>

            <form>
                <label>Nome Completo</label>
                <input type="text">

                <label>E-mail</label>
                <input type="email">

                <label>Senha</label>
                <input type="password">

                <label>Confirmar Senha</label>
                <input type="password">

                <button type="submit">Criar Conta</button>
            </form>
        </div>

    </div>

</body>
</html>


