@page "/telalogin"

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprova+</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">

        <div class="logo">
            <h1> Aprova+</h1>
        </div>

        <div class="card">
            <div class="avatar"></div>

            <form>
                <label>E-mail</label>
                <input type="email" placeholder="Digite seu e-mail">

                <label>Senha</label>
                <input type="password" placeholder="Digite sua senha">

                <label>Confirmar Senha</label>
                <input type="password" placeholder="Confirme sua senha">

                <div class="esqueci-senha" cla>
                    <a href="/senhalogin">Esqueci minha senha</a>
                </div>

                <button class="btn-entrar">Entrar </button>

                <p>
                    Não tem uma conta?
                    <a href="/telacadastro" class="link">Crie uma</a>
                </p>
            </form>
        </div>

    </div>

</body>
</html>